<?xml version="1.0" encoding="UTF-8"?>



<configuration>

         <!-- 콘솔로 로그를 남김 -->

         <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">

                  <encoder>

                           <charset>UTF-8</charset>

                           <!-- 로그 메시지 패턴 -->

                           <Pattern>

                                   %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n

                           </Pattern>

                  </encoder>

         </appender>




         <!-- 파일로 로그를 남김 -->

         <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

                  <file>/home/tomcat/loginLog/loginTryLog.log</file>

                  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">

                           <Pattern>

                                   %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n

                           </Pattern>

                  </encoder>



                  <!-- 로그를 남기는 파일의 용량이 50KB가 넘으면 이를 압축 파일로 만들고 새로 로그 파일로 만들라는 정책 -->

                  <triggeringPolicy

                           class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">

                           <MaxFileSize>10KB</MaxFileSize>

                  </triggeringPolicy>



                  <!-- 파일을 덮어쓰는 정책 -->

                  <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">

                           <FileNamePattern>/home/tomcat/LogExample/logexample2.%i.log.zip</FileNamePattern>

                           <!--

                               MinIndex가 1이고, MaxIndex가 10이므로, 위의 파일 이름 패턴에 따라 아래의 로그 파일이 생길 것이다.

                               logexample2.1.log.zip   logexample2.2.log.zip  .... logexample2.10.log.zip

                               이 상태에서 또 10KB가 넘으면 logexample2.1.log.zip이 된다.

                           -->

                           <MinIndex>1</MinIndex>

                           <MaxIndex>10</MaxIndex>

                  </rollingPolicy>

         </appender>





         <!--

                  com.victolee.logExample 아래 패키지 로그들만  consoleAppender, fileAppender 방법으로 로그를 남긴다.

                  물론 <appender-ref ref="consoleAppender" />를 추가하여 콘솔로도 로그를 남길 수 있다.         

         -->

         <logger name="kr.or.kosa.aspect.LoginAspect"  level="info" additivity="false">

            <appender-ref ref="fileAppender" />

         </logger>





         <!-- root는 글로벌 로거를 의미하며, 위의 logger에 해당하지 않으면 root 로거가 실행된다. -->

         <root level="warn">

                  <appender-ref ref="consoleAppender" />

         </root>


</configuration>