<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.dao.AdminChartDao">

<!-- 마이페이지 통계 -->
	<!-- 월별 외박횟수 -->
	<select id="adminMonthlySleepover" parameterType="kr.or.kosa.dto.AdminChart" resultType="kr.or.kosa.dto.AdminChart">
	  select DATE_FORMAT(startdate, '%Y') AS YEAR, DATE_FORMAT(startdate, '%m') AS MONTH, STATUS, 
      COUNT(*) AS sleepoverCount
      FROM SLEEPOVERHISTORY
      WHERE DATE_FORMAT(startdate, '%Y')=#{year} AND UNIVERSITYCODE=#{universityCode} AND DOMITORYNAME = #{domitoryName} 
      GROUP BY MONTH, STATUS 
      ORDER BY MONTH;
	</select>
	
	
</mapper>





