<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.dao.BoardDao">

<!-- 게시판 리스트 -->
<select id="categoryList" resultType="kr.or.kosa.dto.Board">
SELECT boardidx, boardname FROM BOARD WHERE universitycode='kosa'
AND boardname NOT IN('공지사항', '건의사항', '자유게시판', '거래게시판')
</select>

<!-- 학교 코드 포함해서 가져올 수 있게 출력 -->
<!-- 기본 제공 게시판 글 목록 -->
<select id="allBoardList" resultType="kr.or.kosa.dto.Post">
SELECT p.idx, p.boardidx, p.universitycode, b.boardname, p.memberid, p.writedate, p.likenum, p.content, p.title
FROM POST p JOIN BOARD b ON p.boardidx = b.boardidx
WHERE b.boardname=#{allBoard}
ORDER BY p.writedate DESC
</select>

<!-- 새 게시판 글 목록 -->
<select id="customBoardList" parameterType="String" resultType="kr.or.kosa.dto.Post">
SELECT p.boardidx, p.universitycode, b.boardname, p.memberid, p.writedate, p.likenum, p.content, p.title
FROM POST p JOIN BOARD b ON p.boardidx = b.boardidx
WHERE b.boardname=#{boardName} and p.universitycode='kosa'
ORDER BY p.writedate DESC
</select>

<!-- 게시글 상세보기 -->
<select id="boardContent" parameterType="String" resultType="kr.or.kosa.dto.Post">
SELECT p.idx, p.boardIdx, p.universitycode, b.boardname, p.memberid, p.writedate, p.likenum, p.content, p.title
FROM POST p JOIN BOARD b ON p.BOARDIDX = b.BOARDIDX
WHERE p.IDX=#{idx}
</select>

</mapper>





