<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.dao.BoardDao">

<!-- 건물(동) 정보 가져오기 -->
<select id="selectDomitory" resultType="kr.or.kosa.dto.Domitory">
SELECT UNIVERSITYCODE,DOMITORYIDX,DOMITORYNAME,DOMITORYFLOOR,DOMITORYLATITUDE,DOMITORYLOGITUDE
 FROM DOMITORY
</select>

<insert id="eveningCallInsert" parameterType="kr.or.kosa.dto.RollCall">
INSERT INTO ROLLCALL (MEMBERID,UNIVERSITYCODE,ROLLCALLDATE)
 VALUES(#{param1},#{param2},NOW());
</insert>

<!-- 회원 점호 이력 읽어오기 -->
<select id="eveningCallCompare" resultType="kr.or.kosa.dto.RollCall">
SELECT  ROLLCALLIDX,MEMBERID,UNIVERSITYCODE,ROLLCALLDATE 
FROM ROLLCALL
WHERE MEMBERID = #{param1} AND UNIVERSITYCODE = #{param2}
ORDER BY ROLLCALLIDX DESC LIMIT 1;
</select>

</mapper>





