<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.dao.MessageDao">
	
	<!-- getReceivedMessage(받은 메시지 전체 조회) -->
	<select id="getReceivedMessage" parameterType="string" resultType="kr.or.kosa.dto.Message">             
	  SELECT MESSAGEIDX, sMEMBERID, rMEMBERID, MESSAGETITLE, MESSAGECONTENT, MESSAGEDATE,
	  STATUS FROM MESSAGE WHERE rMEMBERID = #{memberid} ORDER BY messagedate desc
	</select>
	 
	 
	<!--  getSendMessage(보낸 메시지 전체 조회) -->
	<select id="getSendMessage" parameterType="String" resultType="kr.or.kosa.dto.Message">
	  SELECT MESSAGEIDX, sMEMBERID, rMEMBERID, MESSAGETITLE, MESSAGECONTENT, MESSAGEDATE,
	  STATUS FROM MESSAGE WHERE sMEMBERID = #{memberid} ORDER BY messagedate desc
	</select>
	 
	<!-- getMessage (특정메시지조회 : 인덱스) -->
	<select id="getMessage" parameterType="int" resultType="kr.or.kosa.dto.Message">
	  SELECT MESSAGEIDX, sMEMBERID, rMEMBERID, MESSAGETITLE, MESSAGECONTENT, MESSAGEDATE,
	  STATUS FROM MESSAGE WHERE MESSAGEIDX = #{index}
	</select>
	
	<!-- sendMessage(쪽지 보내기) -->
	<insert id="sendMessage" parameterType="kr.or.kosa.dto.Message">
		INSERT INTO MESSAGE(sMEMBERID, rMEMBERID, MESSAGETITLE, MESSAGECONTENT, MESSAGEDATE)
		VALUES(#{smemberId}, #{rmemberId}, #{messageTitle}, #{messageContent}, now())
	</insert>
	
</mapper>