<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.dao.PaymentHistoryDao">
		 

	<!-- insertPayment(결제 생성) -->
	<insert id="insertPayment" parameterType="kr.or.kosa.dto.PaymentHistory">
		INSERT INTO PAYMENTHISTORY(MEMBERID, PAYDATE, PAYAMOUNT, PAYKINDS, DOMITORYNAME, UNIVERSITYCODE)
		VALUES(#{memberId},now(),#{payAmount},#{payKinds}, #{domitoryname}, #{universitycode})
		
	</insert>
	<!-- getAllPaymentHistory(전체 조회) -->
	<select id="getAllPaymentHistory" parameterType="String" resultType="kr.or.kosa.dto.PaymentHistory">             
		SELECT p.payidx, p.memberid, p.paydate, p.payamount, p.paykinds
		from PAYMENTHISTORY p left JOIN MEMBER m ON p.memberid=m.memberid
		WHERE m.universitycode=#{universitycode}
		ORDER BY payidx DESC
	</select>
	
	<!-- getPaymentHistoryById(특정 회원) -->
	<select id="getPaymentHistoryById" parameterType="String" resultType="kr.or.kosa.dto.PaymentHistory">
		SELECT payIdx, memberId, payDate, payAmount, payKinds from PAYMENTHISTORY WHERE memberId=#{memberId}
		ORDER BY payidx DESC;
	</select>

	
</mapper>