<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.dao.FacilityDao">

<insert id="insertReport">
INSERT INTO REPORT (FACILITYIDX,DOMITORYNAME,DOMITORYFLOOR,FACILITYNAME,NAME,FACILITYREPORT,FACILITYDATE,`STATUS`) 
VALUES(#{facilityidx},#{domitoryname}, #{domitoryfloor}, #{facilityname},#{facilityReport},#{memberid},NOW(),0)
</insert>

<!-- 시설물 리스트 가져오기 -->
<select id="selectReportItem" resultType="kr.or.kosa.dto.Facility">
SELECT FACILITYIDX,UNIVERSITYCODE,FACILITYNAME
 FROM FACILITY 
WHERE UNIVERSITYCODE= #{param1} and FACILITYNAME = #{param2}
</select>

<!-- 신고 리스트 가져오기 -->
<select id="selectReport" resultType="kr.or.kosa.dto.Report">
SELECT REPORTIDX,FACILITYIDX,DOMITORYNAME,DOMITORYFLOOR,FACILITYNAME,NAME,FACILITYREPORT,FACILITYDATE,`STATUS` 
FROM REPORT 
WHERE DOMITORYNAME= #{domitoryname};
</select>

<!-- 층별 신고 리스트 가져오기 -->
<select id="search" resultType="kr.or.kosa.dto.Report">
SELECT REPORTIDX,FACILITYIDX,DOMITORYNAME,DOMITORYFLOOR,FACILITYNAME,NAME,FACILITYREPORT,FACILITYDATE,`STATUS` 
FROM REPORT 
WHERE DOMITORYNAME= #{param1} AND DOMITORYFLOOR = #{param2};
</select>

</mapper>





