<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.dao.SleepOverDao">
		 
	<!-- 외박신청 -->
	<insert id="insertSleepOver" parameterType="kr.or.kosa.dto.SleepOver">
		INSERT INTO SLEEPOVER(memberid, universitycode, startdate, enddate, STATUS, SLEEPOVERREASON, sleepoverfilename, sleepoverfilesize)
	VALUES(#{memberId}, #{universityCode}, #{startDate}, #{endDate}, #{status}, #{sleepOverReason}, #{sleepOverFileName}, #{sleepOverFileSize})
	</insert>
	
	<!-- 외박 신청 가능 시간 -->
	<select id="getSleepOverTime" parameterType="String" resultType="kr.or.kosa.dto.SleepOverTime">
		SELECT universitycode, startTime, endTime FROM SLEEPOVERTIME WHERE universitycode = #{universitycode};	
	</select>
	
	<!-- 오늘 외박신청 조회 -->
	<select id="getTodaysSleepOver" parameterType="String" resultType="kr.or.kosa.dto.SleepOver">
		SELECT idx, memberId, universityCode, startDate, endDate, status, sleepOverReason, sleepOverConfirm, sleepOverFileName
		FROM SLEEPOVER
		WHERE universityCode = #{universitycode}
		ORDER BY idx DESC
	</select>
	
	<!-- 외박 수정(update) : 사감이 승인을 했을 경우 -->
	<update id="confirmSleepOver" parameterType="kr.or.kosa.dto.SleepOver">
		UPDATE SLEEPOVER SET Sleepoverconfirm='Y' WHERE idx=#{idx}
	</update>
	
	<!-- 외박신청이력 조회 -->
	<select id="getSleepOverHistory" parameterType="String" resultType="kr.or.kosa.dto.SleepOverHistory">
		SELECT SLEEPOVERIDX, MEMBERID, UNIVERSITYCODE, STARTDATE, ENDDATE, STATUS, SLEEPOVERREASON, SLEEPOVERCONFIRM
		FROM SLEEPOVERHISTORY
		WHERE UNIVERSITYCODE=#{universitycode}
	</select>

	<!-- 기간별 외박 검색 -->
	<select id="searchHistoryWithDate" resultType="kr.or.kosa.dto.SleepOverHistory">
		SELECT SLEEPOVERIDX, MEMBERID, UNIVERSITYCODE, STARTDATE, ENDDATE, STATUS, SLEEPOVERREASON, SLEEPOVERCONFIRM
		from SLEEPOVERHISTORY
		WHERE universitycode=#{universitycode}
		<if test="memberid!=''">
    	AND MEMBERID = #{memberid}
  		</if>
  		<if test="startdate != '' and enddate != ''">
		AND ((DATE(startdate) <![CDATA[<=]]> STR_TO_DATE(#{startdate},'%Y-%m-%d') AND
		DATE(enddate) <![CDATA[>=]]> STR_TO_DATE(#{startdate},'%Y-%m-%d'))
		OR
		(DATE(startdate) <![CDATA[<=]]> STR_TO_DATE(#{enddate},'%Y-%m-%d') AND
		DATE(enddate)<![CDATA[>=]]> STR_TO_DATE(#{enddate},'%Y-%m-%d')))
		</if>
		

	</select>
</mapper>