
.grapwrap{width:600px; margin:0 auto; position:relative;}

.subgrap{width:600px !important}
@media all and (min-width:1600px) {
.grapwrap{width:700px;}
}
@media all and (min-width:1800px) {
.grapwrap{width:780px;}
}

#graph-wrapper{padding:20px 0px}
.graphbox{	
	background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%);
	
	}
/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
	margin: 0;
	padding: 0;
}

/* Gradinet and Rounded Corners */
 #tooltip, .graph-info a {
	background: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



/*  Graph Container */
.graph-container {
	position: relative;
	width: 100%;
	height: 270px;
	/*
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);*/
}

.graph-container > div {
	position: absolute;
	width: inherit;
	height: inherit;
}

.graph-info {
	margin-bottom: 10px;
}

/* Text Styles */
#tooltip, .graph-info a {
	font-size: 1.1em;
	color: #323232;
	font-weight:600;
}

.tickLabel {
	font-weight: 600;
	font-size: 12px;
	color: #666;
}

/* Tooltip */
#tooltip {
	position: absolute;
	display: none;
	padding: 5px 13px;
	border: 1px solid #dcdcdc;
	font-size:1.1em;
	border-radius:500px;
	
}

/* Links */
.graph-info a {
	position: relative;
	display: inline-block;
	float: left;
	padding: 7px 10px 5px 25px;
	margin-right: 10px;
	text-decoration: none;
	cursor: default;
}

/* Color Circle for Links */
.graph-info a:before {
	position: absolute;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	top: 13px;
	left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Colors For each Link */
.graph-info .visitors { border-bottom: 2px solid #c9cfe0; }
.graph-info .returning { border-bottom: 2px solid #1e88e5; }

.graph-info .visitors:before { background: #c9cfe0; }
.graph-info .returning:before { background: #1e88e5; }

/* Lines & Bars Buttons */
#lines, #bars {
	width: 34px;
	height: 32px;
	padding: 0;
	margin-right: 0;
	margin-left: 10px;
	border-bottom: 2px solid #1e88e5;
	float: right;
	cursor: pointer;
	position:relative;
}

#lines.active, #bars.active {
	background: #1e88e5;
/*	background: -moz-linear-gradient(top,  #1e88e5 0%, #2a3954 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e88e5), color-stop(100%,#2a3954));
	background: -webkit-linear-gradient(top,  #1e88e5 0%,#2a3954 100%);
	background: -o-linear-gradient(top,  #1e88e5 0%,#2a3954 100%);
	background: -ms-linear-gradient(top,  #1e88e5 0%,#2a3954 100%);
	background: linear-gradient(to bottom,  #1e88e5 0%,#2a3954 100%);*/
}

#lines span, #bars span {
	display: block;
	width: 34px;
	height: 32px;
	background: url('../img/lines.png') no-repeat 9px 12px;
}

#bars span { background: url('../img/bars.png') no-repeat center 10px; }

#lines.active span { background-image: url('../img/lines_active.png'); }
#bars.active span { background-image: url('../img/bars_active.png'); }

/* Hide the First and Last Y Label */
.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }

/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
	content: '';
	display: block;
	clear: both;
}