@charset "UTF-8";

#newreplybtn {
    border:none;
    background-color: #FFC107;
    box-shadow: none;
    width:85px;
    border-radius: 50px;
    padding:5px;
    border: none;
    /* background-color:#E96B56; */
    color:black;
    margin-top:10px;
}

.updateReply {
    font-size: 12px;
	color: #e96b56;
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: inline-flex;
	/* float: right; */
}

.deleteReply{
    font-size: 12px;
	color: #e96b56;
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: inline-flex;
	float: right;
}