@charset "utf-8";
/*
	Reset CSS
	update : 2015.04.09
*/



* {margin:0;padding:0;box-sizing:border-box;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;-webkit-touch-callout:none; word-break:break-word; box-sizing:border-box }
a[href="tel"] {color:inherit !important; text-decoration:none;}
input[type="submit"]{-webkit-appearance: none; -webkit-border-radius:0}
html {overflow-x:hidden;}
body, html{font-family:'ng','sans-serif'; font-size:13px; font-weight:400; letter-spacing:-0.035em;}

/* common reset */
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,a,abbr,address,cite,em,img,strong,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,section,summary,audio,video
{margin:0;padding:0;border:0;/*font:inherit;*/vertical-align:baseline;}
body{line-height:1;/*word-wrap:break-word;word-break:break-all*/}
table{border-collapse:collapse;border-spacing:0; width:100%;}

img{max-width:100%; border:0;-webkit-tap-highlight-color:rgba(0,0,0,0); vertical-align:top;-ms-interpolation-mode:bicubic}
strong, 
b{font-weight:600;}
ol,ul{list-style:none}
html,body{width:100%; height:100%;margin:0;padding:0; /*overflow-x:hidden;*/ color:#323232;line-height:1.45; }
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
i,address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
ol,ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-weight:600; font-size:100%;}
abbr,acronym,fieldset{border:0}
hr{display:none;clear:both}
legend,caption{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;margin:0;padding:0;line-height:0; display:none; letter-spacing:-9999px}
a{color:inherit}
a:link,a:visited,a:hover,a:active{text-decoration:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
acronym,abbr{cursor:help}abbr[title]{border-bottom:1px dotted}
ul,ol{list-style:none;list-style-image:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
label,select,input,button{vertical-align:middle}button{border:0;cursor:pointer}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:baseline;vertical-align:middle}
button,input{overflow:visible;line-height:normal}
button,select{text-tranotoform:none}
button[disabled],html input[disabled]{cursor:default}
button,html input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;cursor:pointer;-webkit-appearance:none;
text-decoration:none !important;
	font-family:inherit;
	font-size:0.9em;
	height:30px;
}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}
select{margin:0;padding:0;border:1px solid #ccc;box-sizing:border-box;line-height:1}


/*  Form and Button  */

form{margin:0;}
fieldset{margin-left:0;margin-right:0;padding:0;}
legend { position: absolute !important;left: -9999px;width: 1px;height: 1px;font-size: 0;line-height: 0;overflow: hidden; color:#fff}
.blind { position: absolute !important;left: -9999px;width: 1px;height: 1px;font-size: 0;line-height: 0;overflow: hidden;}

a[class*='btn_a'],
input,
html input[type='button'], /*  Avoid [Android4.2.2]bug)  */
input[type='reset'],
input[type='text'],input[type='password'],input[type='file'],
input[type='email'],input[type='number'],input[type='search'],input[type='tel'],input[type='url'],
textarea,
[action] textarea,
select,
[action] select{
	display:inline-block;
	box-sizing:border-box; /* [IE8+] */
	max-width:100%;
	border-radius:0px; 
	line-height:normal; /* 2.429=((36-2)/14)px */
	vertical-align:middle;
	text-decoration:none !important;
	font-family:inherit;
	padding:0 .386em;
	font-size:0.9em;
	height:30px;
	line-height:30px;
	border:1px solid #dcdcdc;
}

input:focus{border-color:#233e59 !important}

input[type='radio']{ /* [SF]fix */
	border-radius:9999px;
}

input[type='number'] {width:auto;}

/* Button */
input[type='image']{margin-top:.333em;margin-bottom:.333em;vertical-align:middle;} /* 20160708 */
html input[type='button'], /*  Avoid [Android4.2.2]bug */
input[type='reset'],
button,
button[class*='button'],button[type='reset'], /*  */
a[class*='button']{-webkit-border-radius:0;-webkit-appearance:none;
	padding:0 .386em; /*  (((36-2)/14)-1.333)/2) (((36-14)/2)/14) */
	border:1px solid #bbb;
	color:#333;
	white-space:nowrap;
}

input[type='text'],input[type='password'],input[type='file'],
input[type='email'],input[type='number'],input[type='search'],input[type='tel'],input[type='url'],
textarea,
[action] textarea{ /*  */
	-webkit-appearance:none;
	border:1px solid #dedede;
	background-color:#fcfcfc;

}
/* if.. has setClassUAver() */
html.lteIE8 input[type='text'],
html.lteIE8 input[type='password']{line-height:2;} 

/* [CR][FF][OP] */
input[type='file']{
	height:auto;padding-top:.583em;padding-bottom:.583em;border-color:tranotoparent;background-color:#fcfcfc;font-size:.857em /* 12px */;font-family:'inhert';line-height:1.333;
}
/* [IE10+] */
input[type='file']::-ms-value{height:2.666em;margin:-.666em 0 -.666em -.2em;border:1px solid #ccc;background-color:#fcfcfc;}
input[type='file']::-ms-browse{height:2.5em;margin:-.555em -.2em -.555em .166em;
	border:1px solid #999;border-color:#dcdcdc;
	background-color:#eee;
	background:linear-gradient(180deg, #fff 0, #fff 3%, #eee 3%, #fff 100%);
}

textarea,
[action] textarea{ /*  */
	width:100%;height:8em;line-height:1.333;
	padding:0.386em 0.386em;
}
textarea[rows='1']{height:1.444em;}
textarea[rows='2']{height:2.888em;}
textarea[rows='5']{height:7.222em;}

select,
[action] select{ /*  */
	border:1px solid #dcdcdc;
	background-color:#fcfcfc;
	padding:0 .286em;
	height:30px;
	line-height:30px;
}
select[multiple]{height:auto;} /* 20150716 */

input[type='radio'],input[type='checkbox']{
	box-sizing:border-box; /* [IE8,9]fix */
	width:1em;
	margin:0;/* =((36-14)/14/2) */
	line-height:normal;
	height:auto;
}

.input-s {height:2em !important;}


/* Clear Fix */
/*.container:before, .container:after{content:''; display:table; *//* clear:both; }*/
	
.clearfix{/* min-height:0; */} 
.clearfix:before,
.clearfix:after{content:'';display:table;} /* [IE8+] */
.clearfix:after{clear:both;}


.nowrap {white-space: nowrap !important;}








/* #### checkbox buttons #### */

input[type="checkbox"].chkbtn{
  display: none;
}

label.toggler{ /* checkbox label */
  display: inline-block;
  position: relative;
  padding-left: 20px; /* space to the left of label text */
  cursor: pointer;
  font-size:0.9em
}

label.toggler::before{ /* flat box */
  content: '';
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  /*background: #414141;*/
  left: 0;
  top: 0;
  border:1px solid #414141;
 bottom:0;
 margin:auto 0;

}

label.toggler::after{ /* check mark inside flat box*/
  content: '\f00c'; /* fontAwesome icon font unicode. See http://fortawesome.github.io/Font-Awesome/cheatsheet/ for others */
  position:absolute;
  left: 0px;
  top: 0px;
  bottom:0;
  margin:auto 0;
  font-family:'FontAwesome';
  color: #ffffff;
  width: 16px; /* hide check mark initially */
  height:16px;
  overflow: hidden;
  text-align:center;
  font-size:0px;
  line-height:20px;
  transition: all 0.2s;
   font-size:0.9em;

}

input[type="checkbox"]:checked + label.toggler::after{ /* inner dark circle when radio is selected */
  background: #414141;
  color: #ffffff;
  font-size:10px;
}


input[type="checkbox"]:checked + label.toggler::after{ /* check mark when checkbox is checked */
  transition: all 0.2s;  /* CSS3 transition on dark circle */
  /*transition: width 0.2s; /* CSS3 transition on width property */
  width: 18px; /* expand check mark to show it. Value should reflect that of container box */
  height:18px;
  top:2px;

}


label.chcked.toggler::after{
  background: #414141;
  color: #ffffff;
  font-size:10px;
  transition: all 0.2s;  /* CSS3 transition on dark circle */
  /*transition: width 0.2s; /* CSS3 transition on width property */
  width: 18px; /* expand check mark to show it. Value should reflect that of container box */
  height:18px;
  top:2px;

}

label.empty{width:18px; height:18px; display:inline-block; padding-left:18px;}

label.chcked.empty::after{
width:18px; height:18px; display:inline-block; padding-left:0px !important;

}

/* #### radio buttons #### */

input[type="radio"].rdobtn{
  display: none;
}

label.toggler_r{ /* radio label */
  display: inline-block;
  position: relative;
  padding-left:20px; /* space to the left of label text */
  cursor: pointer;
  font-size:0.9em;
}

label.toggler_r::before{ /* outer round circle */
  content: '';
  display: inline-block;
  position:absolute;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 20px;
  left: 0;
  top: 0;
  bottom:0;
  border:1px solid #414141;
  margin:auto 0;
  font-size:0.9em

}

label.toggler_r::after{ /* inner dark circle */
  content: '';
  position:absolute;
  width: 6px;
  height: 6px;
  border-radius: 15px;
  left: 5px;
  top: 5px;
  bottom:5px;
  margin:auto;
  overflow: hidden;
  transition: all 0.2s;  /* CSS3 transition on dark circle */
}

input[type="radio"]:checked + label.toggler_r::after{ /* inner dark circle when radio is selected */
  background: #414141;
}

label.chcked.toggler_r::after{
  background: #414141;

}




/******************************************************
@ Set Default Input Form
******************************************************/
/* textarea */
textarea{position:relative;width:100%;resize:none}

/* select */
select{-webkit-appearance:none; -moz-appearance:none; appearance:none;position:relative; min-width:40px;  padding-right:20px; color:#666; outline:none;  background:#ffffff url(../img/default_select_arrow.png) right center no-repeat; background-size:15px auto !important; -webkit-border-radius:0;border-radius:0;}
select::-ms-expand{display:none}




.file{overflow:hidden;padding:0.6em; border:1px solid #c8c8c8; position:relative; max-width:500px;}
.file a{position:absolute; right:0px;top:0px; font-size:0.8rem; padding:0.8em 1.6em; height:38px; border-left:1px solid #c8c8c8}
.file span{font-size:0.8rem; color:#808080}
.file input[type="file"]{position:absolute; top:0; right:0; z-index:2; width:100%; height:38px; cursor:pointer; opacity:.0;}

.file_input {overflow:hidden; border:1px solid #c8c8c8; position:relative; max-width:500px;}
.file_input #file_route{border:none}
.file_input label {position:absolute; right:0px;top:0px; font-size:0.8rem; padding:0.8em 1.6em; height:38px; color:#f5484a; width:100%;}
.file_input label:after {width:100px; text-align:center; border-left:1px solid #c8c8c8; position:absolute; display:block; content:'Attached'; height:100%; top:0; right:0; line-height:38px;}
.file_input label input {position:absolute; width:0; height:0; overflow:hidden; display:none}
.file_input input[type=text] {vertical-align:middle; display:inline-block; height:38px; padding:0; border:0; background:none; text-indent:10px; color:#808080}

input::-ms-input-placeholder {text-transform:uppercase; color:#666; } /*Internet Explorer 10 이상에 적용*/
input::-webkit-input-placeholder {text-transform:uppercase; color:#666; } /* Webkit, Blink, Edge에 적용*/ 
input::-moz-placeholder {text-transform:uppercase; color:#666; } /* Mozilla Firefox에 적용*/