@charset "UTF-8";

.ybbtn {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #545454;
}

.ybbtn:hover {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #e96b56;
	transition: 0.3s;
}

.memberlist {
	padding-left: 7px !important;
	text-align: left;
	margin: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #545454;
}

#boardName {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #545454;
}

#boardName:hover {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #e96b56;
	transition: 0.3s;
}

.boardIdxButton {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-weight: bold;
	color: #545454;
	margin: 0 0 10px 0;
	font-size: 20px;
}

.boardIdxButton:hover {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-weight: bold;
	color: #e96b56;
	transition: 0.3s;
	margin: 0 0 10px 0;
	font-size: 20px;
}

.categories .sidebar .categories ul {
	list-style: none;
	padding: 0;
}

.categories .sidebar .categories ul li+li {
	padding-top: 10px;
}

.categories .sidebar .categories ul a {
	color: #545454;
	transition: 0.3s;
}

.categories .sidebar .categories ul a:hover {
	color: #e96b56;
}

.categories .sidebar .categories ul a span {
	padding-left: 5px;
	color: #aaaaaa;
	font-size: 14px;
}

#textImage img {
	width: 0px;
	height: 0px;
}

.boardCategory {
	list-style: none;
}

div.divider {
	display: inline-block;
	width: 1px;
	height: 200px;
	background-color: #e3e3e3;
}

div.wrap {
	box-sizing: border-box;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	overflow-x: auto;
}

.ybreply {
	padding: 0;
}

.ybreply2 {
	display: inline-flex;
	float: left;
	padding: 0;
	margin-bottom: 10px;
}

.ybreply3 {
	display: inline-flex;
	float: left;
	padding: 0;
	padding-left: 25px;
	margin-bottom: 5px;
}



#sold {
	display: inline-block flex;
	float: left;
	border-collapse: collapse;
	border: 1px solid #e96b56;
	color: #e96b56;
	font-size: 12px;
	border-radius: 20px;
	padding: 4px 6px 4px 6px;
}

.replyDate {
	vertical-align: middle;
	color: #BABABA;
	font-size: 13px;
	top: 50%;
	transform: translateY(-50%);
	display: inline;
}

.replyContent {
	color: #545454 !important;
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 15px;
}

.toMessage {
	color: #545454 !important;
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-weight: bold;
	font-size: 15px;
}

.toMessage2 {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-weight: bold;
	font-size: 15px;
}

.rere {
	font-size: 12px;
	color: #e96b56;
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.rereply {
	background-color: bababa;
}

#replyDiv {
	color: #545454 !important;
	padding-left: 10px;
	padding-right: 20px;
}

.reSubmit {
	font-size: 12px;
	color: #e96b56;
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: inline-flex;
	float: right;
}

#postLike {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #BABABA;
}

#postLike:hover {
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #e96b56;
	transition: 0.3s;
}

#like {
	color: #e96b56 !important;
}

.memberrow {
	cursor: pointer;
}

.demerit {
	display: inline-flex;
	float: left;
	padding: 0;
	margin-bottom: 10px;
}

#demeritBtn {
	background: #2a3954;
    color: #ffffff;
    padding: 0px 25px;
    font-size: 14px;
    border: 1px solid #2a3954;
    height: 38px;
}