@charset "UTF-8";

.ybbtn {
	padding: 0; 
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #545454;
}

.ybbtn:hover {
	padding: 0; 
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #e96b56;
	transition: 0.3s;
}

#boardName {
	padding: 0; 
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #545454;
}

#boardName:hover {
	padding: 0; 
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #e96b56;
	transition: 0.3s;
}

.boardIdxButton {
	padding: 0; 
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-weight: bold;
	color: #545454;
	margin: 0 0 10px 0;
	font-size: 20px;
}

.boardIdxButton:hover {
	padding: 0; 
	list-style: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-weight: bold;
	color: #e96b56;
	transition: 0.3s;
	margin: 0 0 10px 0;
	font-size: 20px;
}

.categories .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.categories .sidebar .categories ul li+li {
  padding-top: 10px;
}

.categories .sidebar .categories ul a {
  color: #545454;
  transition: 0.3s;
}

.categories .sidebar .categories ul a:hover {
  color: #e96b56;
}

.categories .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}

#textImage img{
	width: 0px;
	height: 0px;
}

.boardCategory {
	list-style: none;
}

div.divider {
    display: inline-block;
    width: 1px;
    height: 200px;
    background-color: #e3e3e3;
}

div.wrap {
    box-sizing: border-box;
    /* font-size: 0; */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}

.ybreply {
	padding: 0;
}

.ybreply2 {
	padding: 0;
	margin-bottom: 10px;
}